* {
    box-sizing: border-box;
}

body{
position: absolute;
width: 550px;
height: 868px;
left: 65px;
top: 53px;

background: #23252C;
}

.profile-img{
    position: absolute;
width: 317px;
height: 317px;
left: 116px;
top: 44px;

background: url(.png);
border-radius: 10px 10px 0px 0px;
}

.main-body{
position: absolute;
width: 317px;
height: 520px;
left: 116px;
top: 361px;

background: #1A1B21;
}

.header-title > h1{
margin: auto;
padding-top: 20px;
width: 178.06px;
height: 25.81px;
left: 186px;
top: 382px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.header-title > h2{
margin: auto;
padding-top: 30px;
width: 178.06px;
height: 14.19px;
left: 186px;
top: 414px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 15px;
text-align: center;

color: #F3BF99;
}

.header-title > h3{
margin: auto;
padding-top: 30px;
width: 228px;
height: 16px;
left: 161px;
top: 437px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* identical to box height, or 15px */

text-align: center;

color: #F5F5F5;
}

.buttons{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;
padding-top: 30px

}
.button-email{
width: 115px;
height: 34px;
left: 151px;
top: 468px;
/* white */
background: #FFFFFF;

/* gray/300 */
border: 1px solid #D1D5DB;

/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.button-linkendIn{
width: 115px;
height: 38px;
left: 151px;
top: 468px;
color:#FFFFFF;

background: #5093E2;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.main{
    padding: 20px;
    color: #FFFFFF;
}

.footer-img{
    width: 317px;
height: 64px;
left: 116px;
top: 1759px;

background: #161619;
border-radius: 0px 0px 10px 10px;
}

img{
    width: 40px;
}